
body {
  background-color: beige;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-heading {
  text-align: center;
  margin-top: 0;
  padding-bottom: 2%;
}

.header-heading p {
  max-width: 60%;
  margin-left: 20%;
}

#output-name-box{
  width: 24%;
  margin-left: 38%;
  margin-bottom: 1%;
  background-color: white;
  font-size: 20px;
  text-align: center;
  padding: 2%;
  border: 3px groove black;
}

#output-name-box span{
 padding-right: 10%;
}

#output-box{
  width: 70%;
  margin-left: 15%;
  align-items: center;
  text-align: center;
  border: 3px groove black;
  background-color: white;
}

#input-box{
  width: 50%;
  padding: 2%;
  align-items: center;
  text-align: center;
}
